<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- 5个必须写的
			 4个核心配置  url driver-class username password
			 1 支持方言 mysql
			#hibernate.dialect org.hibernate.dialect.MySQLDialect
			#hibernate.connection.driver_class com.mysql.jdbc.Driver
			#hibernate.connection.url jdbc:mysql:///test
			#hibernate.connection.username gavin
			#hibernate.connection.password
		-->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.url">jdbc:mysql:///purejoy</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<!-- 可选配置 -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- #hibernate.hbm2ddl.auto create-drop
			 #hibernate.hbm2ddl.auto create
			 #hibernate.hbm2ddl.auto update
			 #hibernate.hbm2ddl.auto validate -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- mapping映射文件 -->		
		<mapping resource="com/itqf/bean/Fitnessfood.hbm.xml"/>
	</session-factory>
	

</hibernate-configuration>
